@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$material-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

body {
  background-image: url("./img/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #040202;
  height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000cd;
}

header {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 30px;
  a {
    text-decoration: none;
  }
  .title {
    font-size: 60px;
    font-family: Raleway, serif;
    font-weight: 200;
    color: #3782bb;
    &-go {
      font-family: Changa, serif;
      font-size: 70px;
      font-weight: 500;
      color: #d40091;
    }
  }
  .logo {
    width: 70px;
  }

  @media screen and (max-width: 400px) {
    gap: 10px;
    height: auto;
    .title {
      font-size: 40px;
      &-go {
        font-size: 45px;
      }
    }
    .logo {
      width: 50px;
    }
  }
}

main {
  margin: 0 auto;
  // margin-top: 50px;
  width: 100%;
  flex: 1;
  color: white;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .games {
    padding-top: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    &__division {
      display: flex;
      flex-direction: column;

      gap: 10px;
      &-title {
        font-family: Raleway, serif;
        font-size: 24px;
        width: 100%;
        text-align: center;
        letter-spacing: 3px;
      }
      &-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
      }
      &.observation {
        .games__division-title {
          letter-spacing: 1.5px;
        }
      }
    }
  }

  .game {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &__description {
      font-family: Raleway, serif;
      // background-color: #ffffff11;
      font-size: 14px;
      text-align: justify;
      margin: 0 10px;
      max-width: 400px;
      // border: 1px solid rgba(25, 118, 210, 0.5);
      // border-radius: 4px;
      padding: 5 0px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Changa, serif;
        text-transform: uppercase;
        gap: 20px;
        font-size: 25px;
        span {
          text-align: center;
        }
        img {
          filter: brightness(0%);
        }
      }
      &-main {
        display: flex;
        gap: 20px;
        &__title {
          width: 100%;
        }

        &__buttons {
          // margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          align-items: center;
        }
      }

      @media screen and (min-width: 320px) {
        &-title {
          font-size: 35px;
          > svg {
            transform: scale(1.3);
          }
        }
      }
      @media screen and (min-width: 400px) {
        font-size: 20px;
      }
      @media screen and (min-width: 600px) {
        max-width: 500px;
        gap: 20px;
        &-title {
          font-size: 40px;
          > svg {
            transform: scale(1.5);
          }
          > div {
            transform: scale(1.5);
          }
        }
      }
    }

    &__modes {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      margin: 0 10px;
      gap: 10px;
      &-element {
        // margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 400px;
        width: 100%;
        padding-bottom: 10px;
        border: 1px solid rgba(25, 118, 210, 0.5);
        border-radius: 4px;
        font-family: Changa, serif;
        &__title {
          font-size: 25px;
          text-align: center;
          width: 100%;
        }
        &__description {
          font-size: 12px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 10px;
          row-gap: 5px;
          margin: 0 0 10px 0;
          div {
            border: 1px solid rgba(25, 118, 210, 0.5);
            border-radius: 4px;
            padding: 2px 7px;
          }
        }
        &__selectors {
          display: flex;
          width: 100%;
          justify-content: space-around;
          align-items: center;
          gap: 5px;
          margin-bottom: 10px;
          &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__title {
              font-size: 12px;
            }
          }
        }

        &__start {
          display: flex;
          justify-content: center;
          width: 100%;
        }

        &.quick {
          background-color: #ffffff11;
          flex-direction: row;

          .game__modes-element__start {
            width: 100%;
          }
          @media screen and (min-width: 350px) {
            // margin: 10px 10px 0;
            max-width: 400px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            column-gap: 25px;
            .game__modes-element__title {
              font-size: 35px;
              width: 100%;
            }
            .game__modes-element__description {
              flex-direction: column;
              width: auto;
              font-size: 16px;
              align-items: flex-start;
            }
            .game__modes-element__start {
              width: auto;
            }
          }
          @media screen and (min-width: 600px) {
            max-width: 500px;
            width: 500px;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: 0;
            .game__modes-element__title {
              grid-area: 1 / 1 / 2 / 3;
            }
            .game__modes-element__description {
              grid-area: 2 / 1 / 3 / 3;
              flex-direction: row;
            }
            .game__modes-element__start {
              grid-area: 1 / 3 / 3 / 4;
            }
          }
        }

        &.infinite {
          background-color: #ffffff11;
          @media screen and (min-width: 350px) {
            // margin: 10px 10px 0;

            max-width: 400px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 25px;
            grid-row-gap: 0px;
            justify-content: center;
            align-items: center;
            .game__modes-element__title {
              font-size: 35px;
              grid-area: 1 / 1 / 2 / 3;
            }
            .game__modes-element__description {
              grid-area: 2 / 2 / 3 / 3;
              font-size: 16px;
            }
            .game__modes-element__selectors {
              grid-area: 2 / 1 / 4 / 2;
              flex-direction: column;
              font-size: 16px;
              align-items: flex-start;
              padding-left: 30px;
              &-item {
                align-items: flex-start;
                &__title {
                  padding-left: 5px;
                  font-size: 16px;
                }
              }
            }
            .game__modes-element__start {
              grid-area: 3 / 2 / 4 / 3;
            }
          }
          @media screen and (min-width: 600px) {
            max-width: 500px;
            width: 500px;
            grid-template-columns: repeat(3, 1fr);
            padding: 0;
            .game__modes-element__title {
              grid-area: 1 / 1 / 2 / 3;
            }
            .game__modes-element__selectors {
              grid-area: 2 / 1 / 4 / 3;
              margin: 0;
              &-item {
                flex-direction: row;
                &__title {
                  width: 140px;
                }
              }
            }
            .game__modes-element__description {
              grid-area: 1 / 3 / 2 / 4;
              margin: 0;
            }
            .game__modes-element__start {
              grid-area: 2 / 3 / 4 / 4;
              margin: 0;
            }
          }
        }
      }
    }

    &__game {
      font-family: Changa, serif;
      width: 100%;
      &-score {
        text-align: center;
        font-size: 25px;
      }
      &-time {
        position: relative;
        height: 25px;
        width: 65%;
        margin: 0 auto;
        background: linear-gradient(90deg, #3782bb 0%, #d40091 100%);
        transition: 1s;
      }
      &-challenge {
        text-align: center;
        font-size: 100px;

        &.addition {
          height: 250px;
          width: 100%;
          overflow: hidden;
          position: relative;
          .current {
            position: absolute;
            top: -100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            &.show {
              top: 50%;
              transition: 0.3s;
            }
          }
          .old {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            &.hide {
              top: 200%;
              transition: 0.3s;
            }
            &.bad {
              transition: 0.3s;
              animation: shake 1s ease-in-out forwards;
            }
            @keyframes shake {
              0% {
                left: 50%;
              }
              25% {
                left: 51%;
              }
              35% {
                left: 52%;
              }

              15% {
                left: 54%;
              }
              5% {
                left: 55%;
              }
              20% {
                left: 49%;
              }
              50% {
                left: 48%;
              }
              30% {
                left: 47%;
              }
              10% {
                left: 46%;
              }

              98%,
              100% {
                left: 150%;
              }
            }
          }
        }

        &.highorlow {
          position: relative;
          height: 234px;
          overflow: hidden;
          .currentNumber {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: -150vw;
            width: 150px;
            height: 150px;
            background-color: rgba(200, 200, 200, 0.212);
            border: 1px solid rgb(27, 27, 27);
            border-radius: 10px;
            box-shadow: $material-box-shadow;
            display: flex;
            justify-content: center;
            align-items: center;

            &.show {
              transition: 0.5s;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .oldNumber {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150px;
            height: 150px;
            background-color: rgba(200, 200, 200, 0.212);
            border: 1px solid rgb(27, 27, 27);
            border-radius: 10px;
            box-shadow: $material-box-shadow;
            display: flex;
            justify-content: center;
            align-items: center;
            &.down {
              transition: 1s;
              top: 150vw;
            }
            &.up {
              transition: 1s;
              top: -150vw;
            }
          }
        }
        &.swipemaster {
          position: relative;
          height: 350px;
          overflow: hidden;
          .current {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            font-size: 150px;

            box-shadow: $material-box-shadow;
            &.show {
              opacity: 1;
              width: 250px;
              height: 250px;
              transition: 0.3s;
            }
            &.blue {
              background-color: #3782bb99;
            }
            &.red {
              background-color: #fb00aa99;
            }
          }
          .old {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: 250px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 150px;
            box-shadow: $material-box-shadow;
            &.blue {
              background-color: #3782bb99;
            }
            &.red {
              background-color: #fb00aa99;
            }
            &.down {
              top: 100vh;
              transition: 1s;
            }
            &.up {
              top: -100vh;
              transition: 1s;
            }
            &.left {
              left: -100vw;
              transition: 1s;
            }
            &.right {
              left: 100vw;
              transition: 1s;
            }
          }
        }

        &.birdwatching {
          margin: 20px auto;
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;

          flex-wrap: wrap;
          gap: 5px;

          &.trainee {
            > div {
              width: 30%;
              aspect-ratio: 1 / 1;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
          &.easy,
          &.medium {
            > div {
              width: 23%;
              aspect-ratio: 1 / 1;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
          &.hard,
          &.extreme {
            > div {
              width: 18%;
              aspect-ratio: 1 / 1;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
        }
        &.followtheleader {
          margin: 20px auto;
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;

          flex-wrap: wrap;
          gap: 5px;

          &.trainee {
            > div {
              width: 30%;
              aspect-ratio: 1 / 1;
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
              opacity: 0;
            }
            > div.follow {
              border: 1px solid rgb(97, 97, 97);
              animation: fadeIn 0.1s ease-in-out forwards;
            }
            > div.follow.zero {
              animation-delay: 0.1s; /* Opóźnienie dla bloku o numerze 0 */
            }

            > div.follow.one {
              animation-delay: 0.2s; /* Opóźnienie dla bloku o numerze 1 */
            }

            > div.follow.two {
              animation-delay: 0.3s; /* Opóźnienie dla bloku o numerze 2 */
            }
            @keyframes fadeIn {
              to {
                opacity: 1;
              }
            }
          }
          &.easy,
          &.medium {
            > div {
              width: 23%;
              aspect-ratio: 1 / 1;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
          &.hard,
          &.extreme {
            > div {
              width: 18%;
              aspect-ratio: 1 / 1;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
        }
      }
      &-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
      }

      @media (hover: none) {
        &-buttons {
          gap: 10px;
          .button-text {
            display: none;
          }
          button {
            width: 100%;
            height: 100px;
            > div {
              transform: scale(2);
            }
          }
        }
      }
    }

    @media screen and (min-width: 600px) and (min-height: 750px) {
      justify-content: flex-start;
      &__description {
        &-title {
          font-size: 45px;
        }
      }
      &__modes {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
