@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$material-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

body {
  background-image: url("./img/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #040202;
  height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000cd;
}

header {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 30px;
  a {
    text-decoration: none;
  }
  .title {
    font-size: 60px;
    font-family: Raleway, serif;
    font-weight: 200;
    color: #3782bb;
    &-go {
      font-family: Changa, serif;
      font-size: 70px;
      font-weight: 500;
      color: #d40091;
    }
  }
  .logo {
    width: 70px;
  }

  @media screen and (max-width: 400px) {
    gap: 10px;
    height: auto;
    .title {
      font-size: 40px;
      &-go {
        font-size: 45px;
      }
    }
    .logo {
      width: 50px;
    }
  }
}

main {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  color: white;
  max-width: 600px;

  .games {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    &__division-title {
      font-family: Raleway, serif;
      font-size: 24px;
      width: 100%;
      text-align: left;
      letter-spacing: 3px;
      &.observation {
        letter-spacing: 1.5px;
      }
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  .plus {
    margin: 0 20px;
    &__description {
      font-size: 28px;
      text-align: justify;

      &-buttons {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
      }
    }
    &__options {
      width: 280px;
      margin: 50px auto 0;
      font-size: 28px;
      text-align: center;
      &-main {
        margin-top: 30px;
        &__element {
          margin-top: 10px;
          display: flex;
          font-size: 25px;
          justify-content: space-between;
          align-items: center;

          p {
            width: 70px;
          }
        }
      }
      &-best {
        font-size: 28px;
        text-align: center;
        margin-top: 30px;
      }
      @media only screen and (orientation: landscape) {
        width: 100%;
        &-main {
          display: flex;
          justify-content: center;
          gap: 20px;
        }
      }
    }

    &__start {
      margin: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__game {
      font-family: Changa, serif;
      &-score {
        text-align: center;
        font-size: 25px;
      }
      &-time {
        position: relative;
        height: 25px;
        width: 65%;
        margin: 0 auto;
        background: linear-gradient(90deg, #3782bb 0%, #d40091 100%);
      }
      &-challenge {
        text-align: center;
        font-size: 100px;

        &.birdwatching {
          margin: 20px auto;
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;

          flex-wrap: wrap;
          gap: 5px;

          &.trainee {
            > div {
              width: 150px;
              height: 150px;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
          &.easy,
          &.medium {
            > div {
              width: 120px;
              height: 120px;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
          &.hard,
          &.extreme {
            > div {
              width: 80px;
              height: 80px;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
        }
      }
      &-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
      }
    }

    @media screen and (max-width: 600px) {
      &__description {
        font-size: 20px;
      }
    }
    @media screen and (max-width: 400px) {
      &__description {
        font-size: 16px;
      }
      &__options {
        width: 100%;
        margin-top: 20px;
        font-size: 20px;
        &-main {
          margin-top: 10px;
          &__element {
            font-size: 20px;
            justify-content: center;
          }
          &__best {
            margin-top: 20px;
          }
        }
      }
      &__start {
        margin: 20px 0;
      }
    }
    @media (hover: none) {
      &__description {
        font-size: 20px;
      }
      &__options {
        font-size: 28px;
      }
      &__start {
        button {
          width: 40%;
          height: 80px;
        }
      }
      &__game {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-buttons {
          button {
            width: 100%;
            height: 100px;
            > div {
              transform: scale(2);
            }
          }
        }
      }
    }

    @media (hover: none) {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .button-icon,
      .button-text {
        display: none;
      }
    }
  }

  @media screen and (max-width: 400px) {
    margin-top: 20px;
  }
}
