@import url("https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$material-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

body {
  background-image: url("./img/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #040202;
  height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000cd;
}

header {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 30px;
  a {
    text-decoration: none;
  }
  .title {
    font-size: 60px;
    font-family: Raleway, serif;
    font-weight: 200;
    color: #3782bb;
    &-go {
      font-family: Changa, serif;
      font-size: 70px;
      font-weight: 500;
      color: #d40091;
    }
  }
  .logo {
    width: 70px;
  }

  @media screen and (max-width: 400px) {
    gap: 10px;
    height: auto;
    .title {
      font-size: 40px;
      &-go {
        font-size: 45px;
      }
    }
    .logo {
      width: 50px;
    }
  }
}

main {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  color: white;
  max-width: 600px;

  .games {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    &__division-title {
      font-family: Raleway, serif;
      font-size: 24px;
      width: 100%;
      text-align: left;
      letter-spacing: 3px;
      &.observation {
        letter-spacing: 1.5px;
      }
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  .game {
    margin: 0 20px;
    &__description {
      font-size: 28px;
      text-align: justify;

      &-buttons {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
      }
    }
    &__quick {
      margin-top: 40px;
      margin-left: 20px;
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &-text {
        font-size: 20px;
      }
    }
    &__options {
      margin-top: 50px;
      font-size: 28px;
      text-align: center;
      border: 1px solid rgba(25, 118, 210, 0.5);
      border-radius: 4px;
      padding-top: 15px;
      &-title {
        font-family: Changa, serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        column-gap: 50px;
      }
      &-main {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        column-gap: 20px;
        flex-wrap: wrap;
        &__element {
          font-family: Changa, serif;
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          font-size: 20px;
          justify-content: space-between;
          align-items: center;
          p {
            width: 100%;
            text-align: left;
            margin-left: 40px;
          }
        }
      }
      &-best {
        font-size: 28px;
        text-align: center;
        margin-top: 30px;
      }
    }

    &__start {
      margin: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 40%;
        height: 80px;
      }
    }
    &__game {
      font-family: Changa, serif;
      &-score {
        text-align: center;
        font-size: 25px;
      }
      &-time {
        position: relative;
        height: 25px;
        width: 65%;
        margin: 0 auto;
        background: linear-gradient(90deg, #3782bb 0%, #d40091 100%);
        transition: 1s;
      }
      &-challenge {
        text-align: center;
        font-size: 100px;

        &.addition {
          height: 250px;
          width: 100%;
          overflow: hidden;
          position: relative;
          .current {
            position: absolute;
            top: -100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            &.show {
              top: 50%;
              transition: 0.3s;
            }
          }
          .old {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            &.hide {
              top: 200%;
              transition: 0.3s;
            }
            &.bad {
              transition: 0.3s;
              animation: shake 1s ease-in-out forwards;
            }
            @keyframes shake {
              0% {
                left: 50%;
              }
              25% {
                left: 51%;
              }
              35% {
                left: 52%;
              }

              15% {
                left: 54%;
              }
              5% {
                left: 55%;
              }
              20% {
                left: 49%;
              }
              50% {
                left: 48%;
              }
              30% {
                left: 47%;
              }
              10% {
                left: 46%;
              }

              98%,
              100% {
                left: 150%;
              }
            }
          }
        }

        &.highorlow {
          position: relative;
          height: 234px;
          overflow: hidden;
          .currentNumber {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: -150vw;
            width: 150px;
            height: 150px;
            background-color: rgba(200, 200, 200, 0.212);
            border: 1px solid rgb(27, 27, 27);
            border-radius: 10px;
            box-shadow: $material-box-shadow;
            display: flex;
            justify-content: center;
            align-items: center;

            &.show {
              transition: 0.5s;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          .oldNumber {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150px;
            height: 150px;
            background-color: rgba(200, 200, 200, 0.212);
            border: 1px solid rgb(27, 27, 27);
            border-radius: 10px;
            box-shadow: $material-box-shadow;
            display: flex;
            justify-content: center;
            align-items: center;
            &.down {
              transition: 1s;
              top: 150vw;
            }
            &.up {
              transition: 1s;
              top: -150vw;
            }
          }
        }
        &.swipemaster {
          position: relative;
          height: 350px;
          overflow: hidden;
          .current {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            font-size: 150px;

            box-shadow: $material-box-shadow;
            &.show {
              opacity: 1;
              width: 250px;
              height: 250px;
              transition: 0.3s;
            }
            &.blue {
              background-color: #3782bb99;
            }
            &.red {
              background-color: #fb00aa99;
            }
          }
          .old {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: 250px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 150px;
            box-shadow: $material-box-shadow;
            &.blue {
              background-color: #3782bb99;
            }
            &.red {
              background-color: #fb00aa99;
            }
            &.down {
              top: 100vh;
              transition: 1s;
            }
            &.up {
              top: -100vh;
              transition: 1s;
            }
            &.left {
              left: -100vw;
              transition: 1s;
            }
            &.right {
              left: 100vw;
              transition: 1s;
            }
          }
        }

        &.birdwatching {
          margin: 20px auto;
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;

          flex-wrap: wrap;
          gap: 5px;

          &.trainee {
            > div {
              width: 30%;
              aspect-ratio: 1 / 1;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
          &.easy,
          &.medium {
            > div {
              width: 23%;
              aspect-ratio: 1 / 1;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
          &.hard,
          &.extreme {
            > div {
              width: 18%;
              aspect-ratio: 1 / 1;
              border: 1px solid rgb(97, 97, 97);
              border-radius: 10px;
              cursor: pointer;
              box-shadow: $material-box-shadow;
            }
          }
        }
      }
      &-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
      }
    }

    @media screen and (max-width: 600px) {
      &__description {
        font-size: 20px;
      }
    }
    @media screen and (max-width: 500px) {
      &__quick {
        gap: 5;
        margin-left: 0;
        justify-content: space-around;
        &-text {
          font-size: 15px;
        }
      }
    }
    @media screen and (max-width: 400px) {
      &__description {
        font-size: 16px;
      }
      &__options {
        width: 100%;
        margin-top: 20px;
        font-size: 20px;
        &-main {
          margin-top: 10px;
          &__element {
            font-size: 20px;
            justify-content: center;
          }
          &__best {
            margin-top: 20px;
          }
        }
      }
      &__start {
        margin: 20px 0;
      }
    }
    @media (hover: none) {
      &__description {
        font-size: 20px;
      }
      &__options {
        margin-top: 0;
        font-size: 28px;
      }
      &__game {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-buttons {
          button {
            width: 100%;
            height: 100px;
            > div {
              transform: scale(2);
            }
          }
        }
      }
    }

    @media (hover: none) {
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .button-icon,
      .button-text {
        display: none;
      }
    }
  }

  @media screen and (max-width: 400px) {
    margin-top: 20px;
  }
}
